*{
    box-sizing: border-box;
}
@import url('https://fonts.cdnfonts.com/css/nougat');
body{
    margin: 0;
    padding: 0;
    background-image: url(../../images/general/blueskull.png);
    background-size: cover;
}
.container{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, auto);
    margin: 1rem;
    gap: 0.55rem;
}
.brawler-data{
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 0.5rem;
    border: solid black 5px;
    background-color: transparent;
    border-radius: 2px;
}
.power-level{
    color: white;
    font-family: 'Nougat', sans-serif;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}
.gadgets{
    display: flex;
    flex-direction: column;
}
.star-powers{
    display: flex;
    flex-direction: column;
}
.gears{
    display: grid;
    grid-template-columns: repeat(3,auto);
}
.profile{
    display: flex;
    font-family: 'Nougat', sans-serif;
    font-size: 1.5rem;
    height: 90px;
    border: solid black 5px;
    background-color: black;
    border-radius: 2px;
    gap: 0.5rem;
}
.profile-name{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    color: white;
    position: relative;
}
.profile img{
    border-right: solid black 5px;
}
@media only screen and (max-width: 4950px) {
    .container{
        display: grid;
        grid-template-columns: repeat(10, auto);
    }
}
@media only screen and (max-width: 4500px) {
    .container{
        display: grid;
        grid-template-columns: repeat(9, auto);
    }
}
@media only screen and (max-width: 4050px) {
    .container{
        display: grid;
        grid-template-columns: repeat(8, auto);
    }
}
@media only screen and (max-width: 3600px) {
    .container{
        display: grid;
        grid-template-columns: repeat(7, auto);
    }
}
@media only screen and (max-width: 3150px) {
    .container{
        display: grid;
        grid-template-columns: repeat(6, auto);
    }
}
@media only screen and (max-width: 2700px) {
    .container{
        display: grid;
        grid-template-columns: repeat(5, auto);
    }
}
@media only screen and (max-width: 2250px) {
    .container{
        display: grid;
        grid-template-columns: repeat(4, auto);
    }
}
@media only screen and (max-width: 1800px) {
    .container{
        display: grid;
        grid-template-columns: repeat(3, auto);
    }
}
@media only screen and (max-width: 1350px) {
    .container{
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
}
@media only screen and (max-width: 900px) {
    .container{
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
    .brawler-data{
        gap: 0;
    }
}