@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Genos:wght@500&display=swap');
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
}
img{
    height: 100vh;
    width: 100vw;
}
.kalkulacka{
    min-width: 500px;
    max-width: 750px;
    min-height: 700px;
    max-height: 1050px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: calc(50% - 350px);
    left: calc(50% - 250px);
    outline: 5px solid rgb(0, 0, 0);
}
/*.kalkulacka:hover{
background-color: white;
}*/
.vysledek{
    background-color: transparent;
    height: 10%;
    width: 80%;
    border-radius: 20px;
    outline: 2px solid black;
    position: absolute;
    top: 7.5%;
    left: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
/*.vysledek::after{
    content:'0';
    font-size: 4rem;
    position: absolute;
    left: 90%;
}*/
.buttoncislo{
    border-radius: 5px;
    background-color: transparent;
    outline: 1px solid black;
    height: 10%;
    width: 15%;
    position: absolute;
    top: 25%;
    left: 10%;
    text-align: center;
    line-height: 75px;
    font-size: 2rem;
}
.buttoncislo:hover{
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}
.predchozicislo{
    color: rgba(0, 0, 0, 0.75);
}
.vyslednecislo{
    color: black;
    font-size: 1.5rem;
}

/*@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .kalkulacka {
        outline: 0 solid transparent;
        border: 5px solid black;
        border-radius: 50%;
    }
    .buttoncislo{
        outline: 0 solid transparent;
        border: 1px solid black;
        border-radius: 50%;
    } 
    .vysledek{
        outline: 0 solid transparent;
        border: 2px solid black;
        border-radius: 50%;
    } 
}*/