*{
    margin: 0;
    padding: 0;
    background-color: aqua;
}
.bg{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    background-image: url(https://www.expats.cz/images/publishing/articles/2019/10/1280_650/first-snow-of-the-season-dusts-the-czech-republic-s-krkonose-mountains-jpg-unapi.jpg);
}
.body1{
    height: 200px;
    width: 200px;
    border-radius: 200px;
    background-color: white;
    position: absolute;
    top: 150px;
    left: 800px;
}
.body2{
    height: 300px;
    width: 300px;
    border-radius: 300px;
    background-color: white;
    position: absolute;
    top: 325px;
    left: 750px;
}
.body3{
    height: 400px;
    width: 400px;
    border-radius: 400px;
    background-color: white;
    position: absolute;
    top: 550px;
    left: 700px;
}
.eye1{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: black;
    position: absolute;
    left: 62.5px;
    top: 50px;
}
.eye2{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: black;
    position: absolute;
    left: 112.5px;
    top: 50px;
}
.hrnec1{
    height: 100px;
    width: 150px;
    background-color: rgb(82, 23, 2);
    position: absolute;
    left: 825px;
    top: 50px;
}
.hrnec2{
    height: 20px;
    width: 250px;
    background-color: rgb(82, 23, 2);
    position: absolute;
    left: 775px;
    top: 150px;
}
.carrot{
        width: 0;
        height: 0;
        border-top: 20px solid white;
        border-left: 85px solid orangered;
        border-bottom: 20px solid white;
        position: relative;
        left: 95px;
        top: 85px;
}
.knoflik1{
    height: 35px;
    width: 35px;
    border-radius: 35px;
    background-color: black;
    position: absolute;
    left: 132.5px;
    top: 75px;
}
.knoflik2{
    height: 35px;
    width: 35px;
    border-radius: 35px;
    background-color: black;
    position: absolute;
    left: 132.5px;
    top: 150px;
}
.knoflik3{
    height: 35px;
    width: 35px;
    border-radius: 35px;
    background-color: black;
    position: absolute;
    left: 180px;
    top: 75px;
}
.knoflik4{
    height: 35px;
    width: 35px;
    border-radius: 35px;
    background-color: black;
    position: absolute;
    left: 180px;
    top: 175px;
}
.knoflik5{
    height: 35px;
    width: 35px;
    border-radius: 35px;
    background-color: black;
    position: absolute;
    left: 180px;
    top: 275px;
}
.ruka1{
    height: 100px;
    width: 100px;
    border-radius: 200px;
    background-color: white;
    position: absolute;
    top: 425px;
    left: 670px;
}
.ruka2{
    height: 100px;
    width: 100px;
    border-radius: 200px;
    background-color: white;
    position: absolute;
    top: 425px;
    left: 1030px;
}
.kostetyc{
    position: absolute;
    left: 1060px;
    top: 325px;
    width: 50px;
    height: 625px;
    background-color: rgb(158, 134, 0);
}
.kostepulkruh{
    position: absolute;
    left: 965px;
    top: 262.5px;
    height: 125.5px;
    width: 250px;
    border-bottom-left-radius: 510px;
    border-bottom-right-radius: 510px;
    background: #ffd900;
    border: 2.5px solid black;
}
.kostepruh{
    height: 100%;
    width: 100%;
    image-orientation: 90deg;
    background-color: transparent;
}