* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.selection>* {
    font-size: 3rem;
}