*{
    padding: 0;
    margin: 0;
}
html{
    background-color: rgb(200, 200, 200);
}
.tabulka{
 height: 50%;
 width: 20%;
 background-color: royalblue;
 position: absolute;
 left: 40%;
 top: 25%;
}
.informace{
        position: absolute;
        top: 20%;
        left: 10%;
        width: 80%;
        height: 65%;
        border-radius: 20px;
        border: 2px solid black;
}
.input{
    position: absolute;
    top: 0%;
    left: 30%;
}
.nadpis{
    background-color: rgb(184, 222, 255);
    position: absolute;
    height: 23%;
    width: 98.9%;
    border: 10px solid white;
    animation: border 3s infinite;
}
.nadpistext{
    width: 100%;
    color: white;
    font-size: 7rem;
    position: absolute;
    text-align: center;
    top: 21%;
    animation: nadpis 3s infinite;
    text-decoration: underline;
}
@keyframes nadpis{
    14%{color: Red;}
    28%{color: orange;}
    42%{color: yellow;}
    56%{color: green;}
    70%{color: blue}
    84%{color: violet;}
    100%{color: indigo;}
}
@keyframes border{
    14%{border: 10px solid red;}
    28%{border: 10px solid orange;}
    42%{border: 10px solid yellow;}
    56%{border: 10px solid green;}
    70%{border: 10px solid blue}
    84%{border: 10px solid violet;}
    100%{border: 10px solid indigo;}
}
.kolecko{
    width: 1%;
    height: 8%;
    animation: koleckodokola 3s infinite;
    position: absolute;
    top: 90%;
    border-radius: 10px;
}
@keyframes koleckoright{
    14%{background-color: Red; left: 0;}
    28%{background-color: orange; left: 33%;}
    42%{background-color: yellow; left: 66%;}
    56%{background-color: green; left: 99%}
    70%{background-color: blue; left: 66%;}
    84%{background-color: violet; left: 33%;}
    100%{background-color: indigo; left: 0;}
}
@keyframes koleckoleft{
    14%{background-color: Red; right: 0;}
    28%{background-color: orange; right: 33%;}
    42%{background-color: yellow; right: 66%;}
    56%{background-color: green; right: 99%}
    70%{background-color: blue; right: 66%;}
    84%{background-color: violet; right: 33%;}
    100%{background-color: indigo; right: 0;}
}
@keyframes koleckodokola{
    14%{background-color: Red; left: 0; top: 92%;}
    28%{background-color: orange; left: 50%; top: 92%;}
    42%{background-color: yellow; left: 99%; top: 92%;}
    56%{background-color: green; left: 99%; top: 0;}
    70%{background-color: blue; right: 50%; top: 0;}
    84%{background-color: violet; left: 0; top: 0;}
    100%{background-color: indigo; left: 0; top: 92%;}
}
@keyframes koleckodokola2{
    14%{background-color: Red; left: 99%; top: 92%;}
    28%{background-color: orange; left: 99%; top: 0;}
    42%{background-color: yellow; right: 50%; top: 0;}
    56%{background-color: green; left: 0; top: 0;}
    70%{background-color: blue; left: 0; top: 92%;}
    84%{background-color: violet; left: 50%; top: 92%;}
    100%{background-color: indigo; left: 99%; top: 92%;}
}
@keyframes koleckodokola3{
    14%{background-color: Red; left: 99%; top: 0;}
    28%{background-color: orange; right: 50%; top: 0;}
    42%{background-color: yellow; left: 0; top: 0;}
    56%{background-color: green; left: 0; top: 92%;}
    70%{background-color: blue; left: 50%; top: 92%;}
    84%{background-color: violet; left: 99%; top: 92%;}
    100%{background-color: indigo; left: 99%; top: 0;}
}
@keyframes koleckodokola4{
    14%{background-color: Red; left: 0; top: 0;}
    28%{background-color: orange; left: 0%; top: 92%;}
    42%{background-color: yellow; left: 50%; top: 92%;}
    56%{background-color: green; left: 99%; top: 92%;}
    70%{background-color: blue; left: 99%; top: 0;}
    84%{background-color: violet; left: 50%; top: 0;}
    100%{background-color: indigo; left: 0; top: 0;}
}
.mozaikaleva{
    height: 50%;
    width: 40%;
    background-color: lightskyblue;
    position: absolute;
    top: 25%;
}
.mozaikaprava{
    height: 50%;
    width: 40%;
    background-color: lightskyblue;
    position: absolute;
    top: 25%;
    right: 0;
}